@import "tailwindcss";

html, body {
  max-width: 100vw;
}

@theme {
  --shadow-card: 0 4px 12px rgb(0 0 0 / 0.2);
  --shadow-small-card: 0 1px 12px rgb(0 0 0 / 0.1);
  --shadow--card-border: 0 0 0px 1px rgb(0 0 0 / 0.2);
  --shadow--inner-border: 0 0 3px -1px rgb(0 0 0 / 0.2);
}